body {
    margin:50px;
}

form {
    display:flex;
    flex-direction:column;
    width:500px; 
}

form:first-child {
    line-height:30px;
}

.todo-container {
    display:flex;
    flex-wrap:wrap;
}

.todo {
    box-shadow: 5px 5px 5px 5px lightgrey;
    border-radius:7px;
    padding:10px 30px 10px 30px;
    margin: 35px 30px 20px 0;
    width:300px;
    height:300px;

    overflow:hidden;
    text-overflow:ellipsis;
}

.todo:hover{
    box-shadow:8px 8px 8px 10px lightgrey;

}

.todo-header {
    display:flex;
}

.todo-description {
    word-wrap: break-word;
}

.close-button {
    margin-left:auto;
    align-self:center;
}



/* ===============================
        Javascript classes
==================================*/

.completed {
    background-color:grey;
    opacity: 0.7;
}
